.DS_Store
*.docx
*.zip
.vscode/
*.log
*.conf
*.rc
*.key
simv.daidir/
nWaveLog/
csrc/
BSSLib.lib++/
simv
*.svf
DE2-115/
*.vcd
*.fsdb
*.out
*.mp4
*.mov
Resources/VGA_Image/generate/output.txt
Resources/VGA_Image/generate/output.bin
Resources/VGA_Image/generate/output/